<div class="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('hero.png');">
  <h1>Contact Us</h1>
</div>
<div class="container contact-container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
      <h3 class="mb-4">ADDRESS</h3>
      <p>4th Floor</p>
      <p>73 New Bond Street</p>
      <p>London</p>
      <p>W1S 1RS</p>
      <br>
      <p>Phone: <a href="tel:00447740911377">+44 (0)7740 911 377</a></p>
      <p>Email: <a href="mailto:zubair.shyan@nes-style.co.uk" class="">zubair.shyan@nes-style.co.uk</a></p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <h3 class="mb-4">LEAVE A MESSAGE</h3>
      <%= simple_form_for @contact, :html => {:class => 'form-horizontal', autocomplete: 'off' } do |f| %>
        <%= f.input :name, :required => true %>
        <%= f.input :email, :required => true %>
        <%= f.input :message, :as => :text, :required => true %>
        <div class="hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.button :submit, 'SEND MESSAGE', :class=> "btn w-100 btn-dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="map-margin" style="" class="">
  <iframe class="map-size" id='mapcanvas' src='https://maps.google.com/maps?q=73%20New%20Bond%20Street&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
    <div class="zxos8_gm"><a rel="nofollow"  href="">here</a></div><div style='overflow:hidden;'><div id='gmap_canvas'></div></div><div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div>
  </iframe>
</div>



